# .gitignore

# Dependencies
node_modules/
bun.lockb
bun.lock
package-lock.json
pnpm-lock.yaml
yarn.lock

# Build artifacts & binaries
build/
bin/*
!bin/.gitkeep
!dist/cli.js

# Temporary & cache
.DS_Store
*.log
.cache/
.tmp/
tmp/

# Coverage
coverage/
.nyc_output/

# Editor / IDE
.idea/
.vscode/
*.swp
*.swo
